* { padding: 0; margin: 0; }
body { background-color: #1e1e1e;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, 
    "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }
.divTudo { max-width: 100%; }
.divMeio { display: block; min-width: 770px; max-width: 1600px; margin: 0 auto; text-align: justify; }
#divIdentifica { display: block; width: 300px; height: 300px; margin: 0 auto; text-align: justify; 
    padding: 30px; background-color: #555; border: 1px solid white; }
.divBarraMenu { display: inline-block; width: 100%; text-align: justify; height: 50px; 
    padding-top: 10px; border-bottom: 1px solid white; }
.itemMenu { padding: 10px; }
.txtBloqueio { font-weight: bold; font-size: 20px; line-height: 20px; color: red; text-decoration: none; }
.txtBarraMenu { font-weight: bold; font-size: 20px; line-height: 20px; color: white; text-decoration: none; }
.menuOpcao { padding-left: 25px; }
.txtDestaqueClr { font-weight: bold; font-size: 22px; line-height: 22px; color: white; text-decoration: none; }
.txtPadraoClr, .txtPadraoClr:hover, .txtPadraoClr:visited { 
    font-size: 18px; line-height: 18px; color: white; text-decoration: none; }
.txtPadraoClrGrd, .txtPadraoClrGrd:hover, .txtPadraoClrGrd:visited { 
    font-size: 32px; line-height: 32px; color: white; text-decoration: none; }
.cxTitDir { width: 90px; height: 26px; padding: 3px; margin-top: 5px; display: inline-block; text-align: right; }
.caixaTexto { width: 250px; height: 26px; padding: 3px; font-size: 18px; line-height: 18px; margin-top: 5px; }
.caixaTextoPeq { width: 100px; height: 26px; padding: 3px; font-size: 18px; line-height: 18px; margin-top: 5px; }
.caixaTextoGrd { width: 400px; height: 26px; padding: 3px; font-size: 18px; line-height: 18px; margin-top: 5px; }
    .txtPaginacaoInfo { font-size: 16px; color: #888; }
.divConteudo { display: block; min-width: 770px; max-width: 1600px; margin: 0 auto; text-align: center; }
.divConteudoMeio { display: inline-block; padding: 20px; }
.divPaginacaoInfo { padding-top: 20px; }
.botao { min-width: 100px; height: 40px; padding: 10px; cursor: pointer; }
.botaoCinza { display: inline-block; background-color: #888; padding: 10px;
    border: 1px solid #888; color: black; }
.botaoVerde { display: inline-block; background-color: #337733; padding: 10px;
    border: 1px solid #337733; color: white; }
.botaoVermelho { display: inline-block; background-color: #883333; padding: 10px;
    border: 1px solid #773333; color: white; }
.txtBotao { font-size: 18px; line-height: 18px; text-decoration: none; }
.divFiltro { border: 1px solid #fff; width: 600px; height: 190px;
    text-align: left; padding: 20px; }
.divCol { display: block; }
.esquerda { float: left; }
.direita { float: right; }

/* -- Tabela -- */
.tabela { border: 1px solid white; border-collapse: collapse; width: 100%; }
.tabela th { border: 1px solid white; border-collapse: collapse; padding: 5px; text-align: left; }
.tabela td { border: 1px solid white; border-collapse: collapse; padding: 5px; text-align: left; }

/* -- Paginacao -- */
.navBarra { width: 100%; text-align: center; color: #fff; }
.navBarra .botaoGr { width: 100px; display: inline-block; }
.navBarra .botaoGr:hover { background-color: #888; }
.navBarra .botaoPq { width: 20px; display: inline-block; }
.navBarra .botaoPq:hover { background-color: #888; }
.navBarra .navCaixaGr { width: 100px; display: inline-block; color: #888; }
.navBarra .navCaixaPq { width: 20px; display: inline-block; color: #888; }
.navBarra .navCaixaSel { width: 20px; display: inline-block; background-color: #888; color: #000; }
.txtPaginacao, .txtPaginacao:hover, .txtPaginacao:visited { font-size: 16px; color: #fff; }
