@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Index</h1>
    <form asp-controller="Home" asp-action="Lista" asp-anti-forgery method="POST">
        <button>Lista</button>
    </form>
</div>
