@{
    Layout = "_Layout";
    ViewData["Title"] = "";
}

<br><br>
<div>
    <form asp-controller="Log" asp-action="Filtrar" asp-anti-forgery method="POST">
        <button>Listar</button><br>
    </form>
</div>
