@model rcLogTransfers.AutenticaTransfer

@{
    Layout = "_Acesso";
    ViewData["Title"] = "";
}

<br><br>
<div id="divIdentifica">
    <form asp-controller="Home" asp-action="Entrar" asp-anti-forgery method="POST">
        <span class="txtDestaqueClr">Identificação</span><br>
        <br><br>
        <label class="txtPadraoClr">Nome de Usuário:</label><br>
        <input type="text" class="caixaTexto" maxlength="20" asp-for="@Model.Apelido"><br>
        <br>
        <label class="txtPadraoClr">Senha:</label><br>
        <input type="password" class="caixaTexto" maxlength="20" asp-for="@Model.Senha"><br>
        <br><br>
        <button  class="botaoPadrao txtBotao">Entrar</button><br>
    </form>
</div>
